# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
public/images/photos/animals/DSC01132.webp
public/images/photos/animals/DSC01160.webp
public/images/photos/animals/DSC01225.webp
public/images/photos/animals/DSC01232.webp
public/images/photos/animals/DSC01567.webp
public/images/photos/animals/DSC01887.webp
public/images/photos/animals/DSC01890.webp
public/images/photos/animals/DSC01898.webp
public/images/photos/animals/DSC01903.webp
public/images/photos/animals/DSC01905.webp
public/images/photos/animals/DSC01925.webp
public/images/photos/animals/DSC01930.webp
public/images/photos/animals/DSC01944.webp
public/images/photos/animals/DSC01958.webp
public/images/photos/astrophotography/Astro1.webp
public/images/photos/astrophotography/DSC01720.webp
public/images/photos/astrophotography/DSC01722.webp
public/images/photos/astrophotography/DSC01723.webp
public/images/photos/astrophotography/DSC01728.webp
public/images/photos/astrophotography/DSC01836.webp
public/images/photos/astrophotography/DSC01840.webp
public/images/photos/astrophotography/DSC01841.webp
public/images/photos/astrophotography/DSC01849.webp
public/images/photos/astrophotography/DSC01854.webp
public/images/photos/nature/DSC01605.webp
public/images/photos/nature/DSC01610.webp
public/images/photos/nature/DSC01612.webp
public/images/photos/nature/DSC01613.webp
public/images/photos/nature/DSC01616.webp
public/images/photos/nature/DSC01623.webp
public/images/photos/nature/DSC01626.webp
public/images/photos/nature/DSC01628.webp
public/images/photos/nature/DSC01637.webp
public/images/photos/nature/DSC01643.webp
public/images/photos/nature/DSC01664.webp
public/images/photos/nature/DSC01671.webp
public/images/photos/nature/DSC01675.webp
public/images/photos/nature/DSC01676.webp
public/images/photos/nature/DSC01680.webp
public/images/photos/nature/DSC01692.webp
public/images/photos/nature/DSC01695.webp
public/images/photos/nature/DSC01699.webp
public/images/photos/nature/DSC01700.webp
public/images/photos/nature/DSC01707.webp
public/images/photos/nature/DSC01776.webp
public/images/photos/nature/DSC01777.webp
public/images/photos/nature/DSC01779.webp
public/images/photos/nature/DSC01783.webp
public/images/photos/nature/DSC01785.webp
public/images/photos/nature/DSC01796.webp
public/images/photos/nature/DSC01803.webp
public/images/photos/nature/DSC01808.webp
public/images/photos/nature/DSC01885.webp
public/images/photos/nature/DSC01913.webp
public/images/photos/nature/DSC01915.webp
public/images/photos/nature/DSC01922.webp
public/images/photos/nature/DSC01971.webp
public/images/photos/nature/DSC01808.webp
public/images/photos/nature/DSC01776.webp
public/images/photos/nature/DSC01626.webp
public/images/photos/astrophotography/DSC01840.webp
public/images/photos/astrophotography/DSC01836.webp
public/images/photos/animals/DSC01232.webp
public/images/photos/animals/DSC01225.webp
public/images/photos/nature/DSC01808.webp
public/images/photos/nature/DSC01776.webp
public/images/photos/nature/DSC01626.webp
public/images/photos/astrophotography/DSC01840.webp
public/images/photos/astrophotography/DSC01836.webp
public/images/photos/animals/DSC01232.webp
public/images/photos/animals/DSC01225.webp
