@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* CSS for all devices */
html {
  width: 100vw; /* Viewport width */
  /* Other styles */
}

/* CSS for iOS and other mobile devices */
@media only screen and (min-width: 428px) and (orientation: landscape) { /* Adjust the max-width as needed */
  html {
    width: 100%; /* Use percentage-based width for smaller screens */
    /* Additional responsive styles */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}